.vscode/**
.vscode-test/**
.github/**
.cursor/**

client/src/**
server/src/**

**/.eslintrc.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/*.map
**/*.ts

**/package-lock.json
**/.gitignore



















