.vscode/**
.vscode-test/**
.github/**
.cursor/**

client/src/**
server/src/**

**/.eslintrc.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/*.map
**/*.ts

client/node_modules/**
server/node_modules/**

**/package-lock.json
**/.gitignore

















